.button {
  transition: all 0.1s linear;
  border: 2px solid #7b1fa2;
  color: #7b1fa2;
  border-radius: 4px;
  background: transparent;
  padding: 10px 30px;
  font-size: 14px;
  outline: none;
  cursor: pointer; }
  .button:hover {
    background: rgba(123, 31, 162, 0.1); }
  .button > .icon {
    padding-left: 10px; }
