.action {
  display: block;
  margin: 10px auto; }

.fields-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .fields-container > .form-group {
    width: 100%; }
    @media (min-width: 600px) {
      .fields-container > .form-group {
        width: 45%; }
        .fields-container > .form-group.full {
          width: 100%; } }

.is-focused:not(.is-open) > .Select-control {
  border-bottom-width: 2px;
  border-color: #9c27b0;
  box-shadow: none; }

.Select.Select--multi .Select-value {
  color: #9c27b0;
  border-color: rgba(156, 39, 176, 0.24);
  background: rgba(156, 39, 176, 0.08); }

.Select-control {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none; }
  .Select-control .Select-value-icon {
    border-right-color: rgba(156, 39, 176, 0.24); }

.Select-option.is-focused {
  background: rgba(156, 39, 176, 0.08); }

.form-control {
  width: 100%;
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857; }

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400; }
  .form-control[readonly], .form-control[disabled],
  fieldset[disabled] .form-control,
  .form-group .form-control[readonly],
  .form-group .form-control[disabled],
  fieldset[disabled]
  .form-group .form-control {
    background-color: transparent; }
  .form-control[disabled],
  fieldset[disabled] .form-control,
  .form-group .form-control[disabled],
  fieldset[disabled]
  .form-group .form-control {
    background-image: none;
    border-bottom: 1px dotted #ddd; }

.form-group {
  position: relative; }
  .form-group.label-static label.control-label, .form-group.label-placeholder label.control-label, .form-group.label-floating label.control-label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all; }
  .form-group.label-floating label.control-label {
    will-change: left, top, contents; }
  .form-group.label-placeholder:not(.is-empty) label.control-label {
    display: none; }
  .form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#ddd, #ddd);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s; }

.form-group {
  padding-bottom: 7px;
  margin: 27px 0 0 0; }
  .form-group .form-control {
    font-size: 14px;
    line-height: 1.42857;
    color: #222;
    font-weight: 400;
    margin-bottom: 7px; }
  .form-group label.control-label {
    font-size: 11px;
    line-height: 1.07143;
    color: #aaa;
    font-weight: 400;
    margin: 16px 0 0 0; }
  .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 14px;
    line-height: 1.42857; }
  .form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143; }
  .form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143; }
