.stat-card {
  position: relative;
  background: white;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  @media (min-width: 800px) {
    .stat-card {
      width: 250px; } }
  @media (min-width: 1200px) {
    .stat-card {
      width: 250px; } }
  .stat-card > .header > .title {
    font-size: 25px;
    margin: 0 0 10px;
    text-transform: capitalize; }
  .stat-card > .body {
    display: flex;
    align-items: center;
    position: relative; }
    .stat-card > .body::after {
      content: "";
      top: 0;
      left: 80px;
      display: block;
      position: absolute;
      height: 100%;
      width: 2px;
      background: #9c27b0; }
    .stat-card > .body > .logo {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px;
      max-width: 50px;
      max-height: 50px; }
    .stat-card > .body > .data {
      margin-left: auto;
      color: #9c27b0;
      font-weight: bold;
      font-size: 24px; }
  .stat-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .stat-card:hover > .actions-holder {
      opacity: 1; }
  .stat-card > .actions-holder {
    display: flex;
    transition: 0.3s all linear;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    justify-content: center; }
    @media (min-width: 600px) {
      .stat-card > .actions-holder {
        opacity: 0; } }
    .stat-card > .actions-holder > .action {
      cursor: pointer;
      margin: 0 25px;
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: white;
      background: #9c27b0; }
      .stat-card > .actions-holder > .action.delete {
        background: #f44336; }
