* {
  box-sizing: border-box;
}
body {
  padding-top: 60px;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.content {
  width: 100vw;
  padding: 0 15px;

  @media (min-width: 600px) {
    width: 600px;
    margin: auto;
  }
  @media (min-width: 800px) {
    width: 800px;
    margin: auto;
  }
  @media (min-width: 1200px) {
    width: 1200px;
    margin: auto;
  }
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
