body {
  padding-top: 60px;
  background-color: #eee;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

.content {
  width: 100vw; }
  @media (min-width: 600px) {
    .content {
      width: 600px;
      margin: auto; } }
  @media (min-width: 800px) {
    .content {
      width: 800px;
      margin: auto; } }
  @media (min-width: 1200px) {
    .content {
      width: 1200px;
      margin: auto; } }
