.profile-card {
  transition: 0.3s all linear;
  position: relative;
  padding: 25px;
  margin-bottom: 25px;
  margin-top: 100px;
  width: 100%;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  @media (min-width: 800px) {
    width: 300px;
  }

  > .avatar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 100px;
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: -75px auto 0;
  }

  > .name {
    color: #7b1fa2;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }

  > .description {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    > .badge {
      margin: auto;
      width: 100px;
      text-align: center;
      background: #7b1fa2;
      color: white;
      border-radius: 15px;
      padding: 5px 15px;
      margin-bottom: 10px;
    }
  }

  > .footer {
    text-align: center;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    > .actions-holder {
      opacity: 1;
    }
  }
  > .actions-holder {
    display: flex;
    // opacity: 0;
    transition: 0.3s all linear;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    justify-content: center;

    @media (min-width: 600px) {
      opacity: 0;
    }

    > .action {
      cursor: pointer;
      margin: 0 25px;
      display: flex;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: white;
      background: #9c27b0;

      &.delete {
        background: #f44336;
      }
    }
  }
}
